section.section.culture
    .container.culture__container
        .culture__image.lazy__wrapper.from-tablet
            img(src="/src/assets/culture-preview.png", alt="preload").lazy.is-preloader
            img(data-src="/src/assets/culture.png", alt="culture").lazy.is-main
        .culture__description 
            h2= "Data Driven Culture"
            .culture__image.lazy__wrapper.is-mobile
                img(src="/src/assets/culture-preview.png", alt="preload").lazy.is-preloader
                img(data-src="/src/assets/culture.png", alt="culture").lazy.is-main
            ul 
                li= "Get feedback from customers in the form of a visit evaluation and a text review."
                li= "Find out your business’ strengths and limitations."
                li= "Analyze only real reviews directly in your Tipper profile and improve the quality and level of service by making data driven decisions."
            p 
                span= "Remember that data is the new oil."